body, html {
  height: 100%;
  font-family: 16 px system-ui, -apple-system, "Segoe UI";
  color: #0736f8;
  background-color: white !important;
}
/* estilo para la caja de texto con foto de fondo */
* {
  box-sizing: border-box;
}

.image-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;
  z-index: 10;
  
}

.image-box {
  position: relative;
  width: 45%;  /* Ajustar el ancho según tus necesidades */
  height: 500px;  /* Ajustar la altura según tus necesidades */
  margin: 10px;
 
}

.bg-image {
  width: 100%;
  height: 100%;
  filter: blur(6px);
  -webkit-filter: blur(6px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.bg-text {
  background-color: rgba(0, 0, 0, 0.4);
  color: #e5f4f4;
  font-weight: bold;
  font-family: system-ui, -apple-system, "Segoe UI", sans-serif;
  border: 3px solid #e5f4f4;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}


.label.form-label
{

  border: 3px solid #e5f4f4;
  color: blue
}
/* 
.fondo1{
  background-color:rgb(158, 176, 190)!important;
} */

/*para que no se muestre el subrayado del hipervinculo*/

a:link {
  text-decoration: none;
}

.form{
  background-color: #07976c;
  font-family: 16 px system-ui, -apple-system, "Segoe UI";
  color: #374c5d;

}

/*estilo para que los labels i los inputs del formulario esten alineados/*

/* Clase para asegurar que las etiquetas y los inputs estén alineados */
.form-group {
  display: flex;
  align-items: center; 
  justify-content: space-between;
}

.form-group label {
  flex: 1; /* Hace que la etiqueta ocupe un espacio flexible */
}

.form-group input, .form-group select {
  flex: 2; /* Hace que el input ocupe más espacio */
}

/* Ajuste del espaciado para que haya espacio uniforme entre las etiquetas y los inputs */
.form-group &emsp {
  flex: 0 0 10px; /* Controla el espacio entre la etiqueta y el input */
}
/* Estilos adicionales para mejorar la alineación */
header .col-md-3 {
  display: flex;
  align-items: center;
}

header .nav {
  align-items: center;
}

img {
  margin-left: 15px;  /* Ajusta el margen según sea necesario */
}

.nav-link {
  padding: 10px 15px;  /* Ajusta el padding según sea necesario */
}
.carousel-inner {
  width: 100%; 
  height: 100%;
}
.carousel-inner img{
  width: 100%;
  height: 100%;
 
}
.carousel-item { 
  height: 500px; /* Ajusta la altura según tus necesidades */ 
}
.carousel-caption { 
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para mejor legibilidad */ 
}
.carousel { 
  position: relative; 
  margin: 50px;
 
}
button {
  background-color: #31b0b5; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  padding: 6px 24px;
  border-radius: 12px;

}



