{% extends "app_alumnalia/base.html" %}

{% block titulo %}
Formulario de Datos Personales Estudiantes 
{% endblock titulo %}

{% block contenido %}

<!-- <div class="container mt-5"> 
    <h2>Formulario de Datos Personales</h2> 
    <form method="post" novalidate> 
        {% csrf_token %}
        {{ form.as_p }} 
        <button type="submit" class="btn btn-primary">Enviar</button> 
    </form> 
</div> -->

<div class="container mt-5">
    <h2>Formulario de Datos Personales Estudiantes</h2>
    <form method="post"> 
        {% csrf_token %} 
        {{ form.as_p }} 
        <button type="submit">Guardar</button> 
    </form>
</div>

<!--{% csrf_token %}: Token de seguridad para prevenir ataques CSRF.

{{ form.as_p }}: Muestra el formulario con cada campo envuelto en etiquetas <p>.

<button type="submit">: Botón para enviar el formulario.
-->
{% endblock contenido %}