  

  {% extends "app_alumnalia/base.html" %}

  {% block titulo %}
  INICIO
  {% endblock titulo %}
  
  {% block contenido %}
  <div>
    <div id="miCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ul class="carousel-indicators">
          <li data-target="#miCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#miCarousel" data-slide-to="1"></li>
          <li data-target="#miCarousel" data-slide-to="2"></li>
      </ul>
  
      <!-- The slideshow -->
      <div class="carousel-inner">
          <div class="carousel-item active">
              <img src="/static/img/ordenadores.jpg" alt="ordenadores" width="1100" height="500">
              <div class="carousel-caption">
                  <h3>Forma parte de nuestro equipo</h3>
                  <p>Si tienes pasión por la docencia, entra para ver las ofertas de trabajo</p>
              </div>
          </div>
          <div class="carousel-item">
              <img src="/static/img/libro_abierto.jpg" alt="libro abierto" width="1100" height="500">
              <div class="carousel-caption">
                  <h3>Invierte en tu futuro</h3>
                  <p>En Alumnalia encontrarás las ofertas formativas que más encajan contigo</p>
              </div>
          </div>
          <div class="carousel-item">
              <img src="/static/img/escritorio.jpg" alt="escritorio" width="1100" height="500">
              <div class="carousel-caption">
                  <h3>Alumnalia</h3>
                  <p>Portal de referencia para estudiantes y formadores</p>
              </div>
          </div>
      </div>
  
      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#miCarousel" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#miCarousel" data-slide="next">
          <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </div>
  <br>



  <div>
    <div class="image-container" > 
      <div class="image-box"> 
        <div class="bg-image" style="background-image: url('/static/img/libros.jpg');"></div> 
        <div class="bg-text">  
          <a href="#" style="color: inherit; text-decoration: none;"> 
            <h1>REGISTRATE</h1> 
            <p> 
              <h2>Para poder acceder a las funcionalidades de la web, es necesario registrarte</h2> 
            </p> 
            <h3>-- Entrar --</h3> 
          </a>  
        </div> 
      </div> 
      <div class="image-box"> 
        <div class="bg-image" style="background-image: url('/static/img/pizarra.jpg');"></div> 
        <div class="bg-text">
          <a href="#" style="color: inherit; text-decoration: none;"> 
            <h1>INICIA SESIÓN</h1>
            <p>
              <h2>Acceso para los usuarios ya registrados</h2>
            </p>
            <h3>-- Entrar --</h3>
          </a>
        </div> 
      </div> 
    </div>
  </div>  

    {% endblock contenido %}